/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #525151; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #414141; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

html , body {
  background-color: #000;
}

.container {
  width: 70%;
}

.collectionsView {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 10px;
}

.collection {
  cursor: pointer;
  position: relative;
  color: white;
  margin: 10px;
  padding: 15px 10px;
  border: 2px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  transition-duration: 0.4s;
}
.collection:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px rgb(255,255,255,0.6);
}

.collection p {
  margin: 0;
  font-size: 15px;
  margin-left: 10px;
}

.collection .image{
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border:2px solid #FFF; 
  position:relative;
  z-index:10
}
.collection .image:before {
  content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:2px;
    left:2px;
    right:2px;
    bottom:2px;
    border:2px solid #FFF
}

.assets-view {
  background: black;
  color: white;
  min-height: 100vh;
}
.asset {
  width: 20px;
  height: 20px;
  background: #1d1d1d;
  border: 1px solid #000;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  margin: 0 !important;
}
.asset.listed {
  background: #414141 !important;
}
ul {
  list-style: none;
  display: flex;
  padding: 0px !important;
}
ul > li {
  display: flex;
  padding: 0 20px;
  margin: 0px !important;
}
ul > li > p {
  font-size: 13px;
  margin: 0 0 0 6px;
}

/* Loader */
@keyframes spinKeyframes {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinKeyframes 500ms infinite linear;
  color: gray;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-width: 6px;
  border: 2px solid #616e7c;
  border-top-color: #cbd2d9;
  border-right-color: #cbd2d9;
  align-items: center;
}
/*  */

.header > h3 > small {
  cursor: pointer;
  margin-right: 5px;
}
.assets-list {
  padding-bottom: 20px;
}
.profit {
  color: green;
}
.loss {
  color: red;
}
.same {
  color: hsla(0, 0%, 100%, 0.22);
}
.back-btn {
  cursor: pointer;
  margin-right: 20px;
}